@{
    ViewData["Title"] = "Home Page";
}

<style>
    .navbar-expand-sm {
        background-color:crimson;
    }
</style>
<body style="background-color:burlywood;">
</body>

<div class="text-center">
   <h1 class="display-4"><b>Welcome To PizzaWaala!!</b></h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<img align="middle" src="~/css/frontpgpizza.jpg" width="1290" />
@*<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">

</head>
<body>

    <div class="slider-frame">
        <div class="slide-images">
            <div class="img-container">
                <img src="~/css/frontpgpizza.jpg" />
            </div>
            <div class="img-container">
				<img src="~/css/pizza1.webp/>
            </div>
            <div class="img-container">
                <img src="~/css/pizza8.jpg" />
            </div>
        </div>
    </div>
</body>
</html><br/>*@
<div class="History">
    <h4>About Us</h4>
    <hr />
    <p>
        Starting as Curry On Crust with a single store in Canton, Pizzawaala’s has come a long way and performed well among the native American audience. But almost a year and a half back, the brand needed a 360° revamp to amplify its digital presence and engagement.<br />
    </p>
    <p>
        Since its inception, no marketing or branding efforts were put into the promotion of the brand. It was solely thriving upon the quality product and excellent service. So, we set out to elevate the entire brand and their great customer experience – and make sure everyone in the USA knows that Pizzawaala’s serves fusion pizzas.
    </p>
</div>